/*-  BASE STYLES
----------------------------------------------------------------------*/

/*- self-clearing floats ----------*/

.mod:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*- fluid images and objects ----------*/

img,
object,
embed {max-width: 100%;}


/*- optional vanity styles ----------*/

::selection {background: #c80000;}
::-moz-selection {background: #c80000;}

img::selection {background: transparent;}
img::-moz-selection {background: transparent;}

@media only screen and (max-device-width: 480px) {

	html {-webkit-text-size-adjust: none}
	a {-webkit-tap-highlight-color: rgba(200,0,0,0.4);}

}

/*- Paul Irish's Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ ----------*/

@font-face {
  font-family: 'LG2';
  src: url('../fonts/LeagueGothic.eot');
  src: local('☺'),
         url('../fonts/LeagueGothic.svg') format('svg'), url('../fonts/LeagueGothic.otf') format('opentype');
}

@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('../fonts/league_gothic-webfont.eot');
	src: local('☺'), url('../fonts/league_gothic-webfont.woff') format('woff'), url('../fonts/league_gothic-webfont.ttf') format('truetype'), url('../fonts/league_gothic-webfont.svg#webfontfl9v3Zo1') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*- LET'S GET STARTED!
----------------------------------------------------------------------*/

body {
	background-color: #000000;
	color: #ffffff;
	font: normal 16px/22px Helvetica, Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	padding: 10px 0 0 10px;
}

abbr {
	cursor: help;
}

#titleBox
{
	height:90px;
	}

#title
{
        font-family:'LG2',Helvetica Neue, Helvetica, Arial, Sans-serif;
       	position:relative;
	left:46px;
	top: 15px;
	width:300px;
       color:white;
}

#titleTitle
{
	line-height:10px;
        font-size:50pt;

}

#titleCaption
{
	/*
	font-size:27pt;
	line-height:0px;
	*/
	
	font-size:23pt;
	line-height:14px;
        letter-spacing:1px;
        margin-top:-23px;
	
}

#attribution
{
	width:200px;
	height:21px;
	background-color:black;
	position:absolute;
	top:65px;
	left:358px;
	font-size:14pt;
	font-family:LG2;
}


#sharing_box
{
	width:90px;
	height:21px;
	background-color:black;
	position:absolute;
	top:67px;
	left:618px;
	
}
